.center-text{
    text-align: center;
}

.titlescr{
    font-size: 2cm;
}

/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: white gray;
  }
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }
  
  *::-webkit-scrollbar-track {
    background: gray;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 20px;
    border: 3px solid gray;
}
.size-big {
    height: 200px;
}